/* variables */
:root {
  --main-black: black;
	--accentcolor-yellow: #FFBE00;

	--accentcolor-green1: #00DC93;
	--accentcolor-green2: #68BE9A;
	--accentcolor-green3: #768AE2;
}

/* reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: normal;
	src: local('Questrial'), url('../fonts/Questrial-Regular.woff') format('woff');
}

@font-face {
	font-family: Ampersand;
	src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
	unicode-range: U+26;
}

* {
	font-family: inherit;
}

body {
	font-family: Questrial, sans-serif;
}

/* regular */
a {
	color: black;
	text-decoration: none;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

/* menu contact */
nav a {
	position: absolute;
	top: 5vh;
	right: 5vw;
	z-index: 3;
	outline: 0;
}

nav img {
	width: 2em;
}

nav a:focus img, nav a:hover img {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

nav a:hover img, nav a:focus img {
	width: 50px;
}

/* BORDER AROUND SECTION */
section {
	height: 100%;
	z-index: 100;
	border-left: 10px solid var(--main-black);
	border-right: 10px solid var(--main-black);
}

section::before, section::after {
  content: "";
  position: fixed;
  background: var(--main-black);
  left: 0;
  right: 0;
  height: 10px;
	z-index: 100;
}

section::before {
  top: 0;
}

section::after {
  bottom: 0;
}

/* different states */
body.stateA section {
	border-left: 10px solid var(--accentcolor-green1);
	border-right: 10px solid var(--accentcolor-green1);
}

body.stateA section::before, body.stateA section::after {
	background-color: var(--accentcolor-green1);
}

body.stateB section {
	border-left: 10px solid var(--accentcolor-green2);
	border-right: 10px solid var(--accentcolor-green2);
}

body.stateB section::before, body.stateB section::after {
  background: var(--accentcolor-green2);
}

body.stateC section {
	border-left: 10px solid var(--accentcolor-green3);
	border-right: 10px solid var(--accentcolor-green3);
}

body.stateC section::before, body.stateC section::after {
  background: var(--accentcolor-green3);
}

body.stateAB section {
	border-left: 10px solid var(--accentcolor-green1);
	border-right: 10px solid var(--accentcolor-green1);
}

body.stateAB section::before, body.stateAB section::after {
  background: var(--accentcolor-green1);
}

body.stateAC section{
	border-left: 10px solid var(--accentcolor-green1);
	border-right: 10px solid var(--accentcolor-green1);
}

body.stateAC section::before, body.stateAC section::after {
  background: var(--accentcolor-green1);
}

body.stateBC section {
	border-left: 10px solid var(--accentcolor-green2);
	border-right: 10px solid var(--accentcolor-green2);
}

body.stateBC section::before, body.stateBC section::after {
  background: var(--accentcolor-green2);
}

body.stateABC section {
	border-left: 10px solid var(--accentcolor-green1);
	border-right: 10px solid var(--accentcolor-green1);
}

body.stateABC section::before, body.stateABC section::after {
  background: var(--accentcolor-green1);
}

/* HOMEPAGE */
#home section {
	height: 100vh;
}

.homepage {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	width: 90vw;
	height: 100vh;
	margin-left: 5vw;
	margin-right: 5vw;
}

#home figure {
	background-image: url('../images/strand-0017.png');
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
}

video {
	width: 90vw;
	margin-top: 10px;
	height: auto;
	mix-blend-mode: lighten;
}

@media screen and (min-width: 50em) {
	.homepage {
		grid-column: 2 / 6;
		display: grid;
		grid-template-columns: 20% 20% 20% 20%;
		grid-template-rows: minmax(auto, auto);
	}

	#home figure {
		overflow: hidden;
		grid-column: 1 / 4;
		grid-row: 1;
		width: 70vw;
	}

	video{
		width: 65vw; /*min-content */
		margin-left: 0;
	}
}

article {
	grid-row:2;
	z-index: 10;
	margin-bottom: 5vh;
}

article h1 {
	font-size: 2em;
	font-weight: 800;
	color: var(--main-black);
	margin-bottom: 1em;
}

article form {
	margin-bottom: 8%;
}

article form input:nth-of-type(1):focus::after{
	content: 'click me';
	position: relative;
	bottom: 30px;
	display: inline-block;
	text-align: center;
	width: 100px;
}

article form input:nth-of-type(2):focus::after{
	content: 'creative me' !important;
	position: relative;
	bottom: 30px;
	display: inline-block;
	text-align: center;
	width: 100px;
}

article form div {
	display: inline-block;
	background-color: var(--accentcolor-green1);
	padding: 2%;
	margin-right: 2%;
}

article form div:nth-of-type(2) {
	background-color: var(--accentcolor-green2);
}

article form div:nth-of-type(3) {
	background-color: var(--accentcolor-green3);
}

article p {
	color: var(--fontColor);
}

article strong {
	color: black;
	font-weight: 8000;
}

@media screen and (min-width: 50em) {
	article {
		grid-column: 3 / 6;
	  grid-row: 1;
		width: 70%;
		margin-left: 20%;
		margin-top: 40%;
	}

	article figure img {
		width: 30vw;
		height: auto;
		margin: 0;
	}
}

/* icon-arrow-down */
.next {
	position: absolute;
	bottom:20px;
	left: calc(50vw - 20px);
}

svg {
	display: none;
	width: 40px;
	fill: var(--main-black);
}

.next:focus {
	outline: 0;
}

.next:hover svg, .next:focus svg {
	animation-name: bounceInDown;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.next:hover::after, .next:focus::after{
	content: 'scroll down';
	position: relative;
	left: 5vw;
	bottom: 3vh;
}

.homepage .noscrol:hover::after, .homepage .noscrol:focus::after {
	content: 'select something';
}

/* icon-arrow-down states */
svg.stateA {
	fill: var(--accentcolor-green1);
}

svg.stateB {
	fill: var(--accentcolor-green2);
}

svg.stateC {
	fill: var(--accentcolor-green3);
}

svg.stateAB {
	fill: var(--accentcolor-green1);
}

svg.stateAC {
	fill: var(--accentcolor-green1);
}

svg.stateBC {
	fill: var(--accentcolor-green2);
}

svg.stateABC {
	fill: var(--accentcolor-green1);
}

/* SECTIONS */
section {
	width: 100vw;
}

section .content {
	width: 90vw;
	padding-top: 5vh;
	margin-left: 5vw;
}

section .content h1 {
	color: white;
	margin-bottom: 2vh;
}

section .content p {
	color: white;
	width: 40em;
	margin-bottom: 5vh;
}

section ul {
	display: flex;
	flex-direction: row;
}

section ul li {
	flex-basis: 20vw;
	margin-right: 1vw;
}

section ul li h3 {
	display: none;
}

section ul li a:hover, section ul li a:focus {
	outline: 0;
}

ul li h3::after {
	content: "➡️";
	position: relative;
	left: 5px;
}

section ul li a:hover h3, section ul li a:focus h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	position: absolute;
	background-color: white;
	bottom: 2.5vw;
	width: 20vw;
	height: 20vw;
	margin-left: 2.5vw;
	text-align: center;
}

section ul li img {
	width: 25vw;
	filter: grayscale(100%);
}

/* states */
section#onderzoeken, section#conceptueel, section#tech {
	opacity: 1;
}


/* ONDERZOEKEN */
#onderzoeken {
	display: none;
	background-color: var(--accentcolor-green1);
}

/* CONCEPTUEEL */
#conceptueel {
	display: none;
	background-color: var(--accentcolor-green2);
}

/* TECH */
#tech {
	display: none;
	background-color: var(--accentcolor-green3);
}

/* PROJECT */
body {
	opacity: 1 !important;
}

#project section {
	height: 100%;
}

body.onderzoeken section {
	border-left: 10px solid var(--accentcolor-green1);
	border-right: 10px solid var(--accentcolor-green1);
}

body.onderzoeken section::before, body.onderzoeken section::after {
	background-color: var(--accentcolor-green1);
}

body.conceptueel section {
	border-left: 10px solid var(--accentcolor-green2);
	border-right: 10px solid var(--accentcolor-green2);
}

body.conceptueel section::before, body.conceptueel section::after {
	background-color: var(--accentcolor-green2);
}

body.tech section {
	border-left: 10px solid var(--accentcolor-green3);
	border-right: 10px solid var(--accentcolor-green3);
}

body.tech section::before, body.tech section::after {
	background-color: var(--accentcolor-green3);
}

.onderzoeken section > div:first-of-type, .conceptueel section > div:first-of-type, .tech section > div:first-of-type {
	width: 90vw;
	margin-left: 5vw;
	padding-top: 5vh;
}

#project section header {
	width: 40%;
	text-align: right;
	margin-bottom: 5%;
}

#project section .images {
	margin-left: 0;
	width: 40%;
}

#project section .images img {
	width: 100%;
	float: left;
	margin-bottom: 5%;
}

#project section .text {
	margin-left: 45%;
	width: 45%;
	text-align: left;
	margin-bottom: 5%;
}

/* pagination */
.pagination {
}

.left {
	outline: 0;
	display: block;
	width: auto;
	margin-top: 5%;
}

.left div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.onderzoeken .left {
	background-color: var(--accentcolor-green1);
}

.conceptueel .left {
	background-color: var(--accentcolor-green2);
}

.tech .left {
	background-color: var(--accentcolor-green3);
}

.left:hover div, .left:focus div {
	-webkit-animation-name: toRight;
	animation-name: toRight;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.left p {
	padding: 2%;
}

.left img {
	width: 15px;
	height: 15px;
	align-self: center;
	margin-right: 2%;
}

.right {
	margin: 0;
	clear: both;
	float: none;
	display: block;
	width: 100%;
	height: 200px;
}

.right p {
	width: 40%;
	text-transform: uppercase;
	padding-top: 50px;
	text-align: right;
	margin-left: 20px
}

.right h1 {
	width: 40%;
	text-align: right;
	margin-left: 20px
}

.onderzoeken .right {
	background-color: var(--accentcolor-green1);
}

.conceptueel .right {
	background-color: var(--accentcolor-green2);
}

.tech .right {
	background-color: var(--accentcolor-green3)
}

.right:hover, .right:focus  {
	color: white;
	background-color: var(--main-black);
	box-sizing: content-box;
	margin-left: -10px;
	padding-right: 20px;
	outline: 0;
}

.pagination .no-next:hover, .pagination .no-next:focus {
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}

.right:hover::after, .right:focus::after {
  content: "";
  position: fixed;
	z-index: 10000;
  background: var(--main-black);
  left: 0;
  right: 0;
  height: 20px;
}

.right:hover::after, .right:focus::after {
  bottom: 0;
}

.right:hover p, .right:focus p {
	margin-left: 30px;
}

.right:hover h1, .right:focus h1 {
	margin-left: 30px;
}

/* CONTACT */
#contact section div{
	width: 90vw;
	margin-left: 5vw;
	padding-top: 5vh;
}

#contact nav a {
	top: 2vh;
	right: 3vw;
	z-index: 3;
	outline: 0;
}

#contact nav a:focus .video-menu, #contact nav a:hover .video-menu {
	width: 80px;
}

#contact .video-menu {
	width: 60px;
}


#contact section h1 {
	margin-bottom: 2%;
}

#contact section .form p {
	margin-bottom: 5%;
}

#contact section .form form {

}

.search {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
}

.input-icon {
  background: #ddd;
}

.input-icon img {
	width: 25px;
}

#song {
  border: none;
  flex: 1;
}

.input-icon, #song {
  padding: 5px;
}

/* animations */
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes toRight {
	0%   {position: relative;right: 0px; top: 0px;}
	50%  {right: 10%; top: 0px;}
	100%  {right: 20%; top: 0px;}
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, 0px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 5px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
